=begin
#Lethean Binary API

#Functionality to simplify using LTHN

The version of the OpenAPI document: 1.2.2
Contact: contact@lethean.io
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.3.1

=end

require 'cgi'

module letheanSDPClient
  class VpnApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param data_dir [String] Returns the binary version
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :version Returns the binary version
    # @return [nil]
    def start_letheand(data_dir, opts = {})
      start_letheand_with_http_info(data_dir, opts)
      nil
    end

    # @param data_dir [String] Returns the binary version
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :version Returns the binary version
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def start_letheand_with_http_info(data_dir, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VpnApi.start_letheand ...'
      end
      # verify the required parameter 'data_dir' is set
      if @api_client.config.client_side_validation && data_dir.nil?
        fail ArgumentError, "Missing the required parameter 'data_dir' when calling VpnApi.start_letheand"
      end
      # resource path
      local_var_path = '/letheand/start'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data_dir'] = data_dir
      query_params[:'version'] = opts[:'version'] if !opts[:'version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VpnApi.start_letheand",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VpnApi#start_letheand\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
